form {
			width: 80%;
		}
		label, input {
			margin-top: 10px;
			display: inline-block;
			width: 30%;
		}
		label {
			text-align: right;
		}
		span {
			text-align: left;
		}
		label + input {
			width: 30%;
			/* large margin-right to force the next element to the new-line
			   and margin-left to create a gutter between the label and input */
			margin: 0 5% 0 4%;
		}
		input {
			border-style: solid;
			border-width: 3px;
			padding: 5px;
		}
		#randomColor {
			margin-top: 20px;
		}
		p{
			font-size: 96pt;
			text-align: center;
		}